*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cardContainer{
  margin:auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  margin:10px;
  width:200px;

}
.imgCard{
  width: 150px;
  height: 150px;
  margin:auto
}
.chakra-stack{
  text-align: center;
}
.imgDetail{
  width: 250px;
  height: 250px;
  align-self: center;
}
.detailContainer{
  margin:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardDetail{
  width: 60%;
}

:root {
  --price-tag-background: #7f8183;
  --price-tag-height: 2rem;
}


